{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
           <img src="{{book.img.url}}" width="300" height="300">
        </div>
<div class="col-md-6">
    <h2 style="font-family:arial black;color:white;">{{book.name}}</h2>
    <h5 style="font-family:italic;color:red;">{{book.desc}}</h5>
    <h6 style="color:yellow;">{{book.Author}}</h6>
    <a class="btn btn-warning" href="{% url 'bookapp:update' book.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'bookapp:delete' book.id %}">Delete</a>
</div>
    </div>
</div>
{% endblock %}