{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in book_list %}
        <div class="col-md-3">
            <div class="card" style="width:100pix;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="100pix" height="300pix;">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'bookapp:detail' i.id %}" class="btn btn-primary">View Details</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
